build
dist
private
release
one-jar
target
*~
*.bak*
*.log
*.bz2
*.gz
*.zip
*.nbm
*.jar
*.war
*.*swp*
*.orig
*.rrd
*.iml
*.tdump
*.nps
*.patch
*.csv
/.gradle/
/.idea/
/liquibase-*
.glassfish.properties
.passwd
